*{
    background: papayawhip;
}
.titulo{
    color: aliceblue;
    background: pink;
}

img[src=""]{
    background-color: black;
}

nav > li{
    background-color: yellow;
}

#titulo2{
    background: pink;
    color: aquamarine;
}

nav > ul{
    background-color: aqua;
}